version: '3.8'

services:
  spring:
    image: ${DOCKER_USERNAME}/backoffice:latest
    container_name: spring
    restart: always
    expose:
      - "8080"
    environment:
      - JAVA_OPTS=-Xmx512M -Xms512M # 이 줄을 추가하여 메모리 사용량 제한
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=${SPRING_DATASOURCE_URL}
      - SPRING_DATASOURCE_USERNAME=pbuser
      - SPRING_DATASOURCE_PASSWORD=${SPRING_DATASOURCE_PASSWORD}
    volumes:
      # 서버 실제경로 : 컨테이너 내부경로 (application.yaml 설정과 일치)
      - /home/ubuntu/upload:/upload

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    depends_on:
      - spring
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf